<p id="notice"><%= notice %></p>

<h1>Top Recruiter Episodes</h1>

<table>
  <thead>
    <tr>
      <th>Title</th>
      <th>Date Published</th>
      <th colspan="2"></th>
    </tr>
  </thead>

  <tbody>
    <% @episodes.each do |episode| %>
      <tr>
        <td><%= link_to episode.title, episode.url %></td>
        <td><%= episode.published %></td>
        <td><%= link_to 'Stats', episode %></td>
        <td><%= link_to 'Edit', edit_episode_path(episode) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= @chart %>
<%= line_chart @chart %>

<br>

<%= link_to 'New Episode', new_episode_path %>
