<%= form_for [episode, snapshot] do |f| %>
  <% if snapshot.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(snapshot.errors.count, "error") %> prohibited this snapshot from being saved:</h2>

      <ul>
      <% snapshot.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :date %>
    <%= f.date_select :date %>
  </div>

  <div class="field">
    <%= f.label :views %>
    <%= f.number_field :views %>
  </div>

  <div class="field">
    <%= f.label :episode_id %>
    <%= f.text_field :episode_id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
