<p id="notice"><%= notice %></p>

<p>
  <strong>Date:</strong>
  <%= @snapshot.date %>
</p>

<p>
  <strong>Views:</strong>
  <%= @snapshot.views %>
</p>

<p>
  <strong>Episode:</strong>
  <%= @snapshot.episode.id %>
</p>

<%= link_to 'Back', episode_snapshots_path %>
